<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <h:head>
        <title>ALLEDROGO</title> 
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="static/base.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/main.css"></link>
    </h:head>
    <h:body>
        <div style="text-align:right; font-size:11; padding-right: 20px;"><b>Niezalogowany!</b> [online: 0] 
            <div><h:form >
                <h:commandLink immediate="true" action="#{zmianaJezyka.polski()}"  value="#{msg.langPL}"/>   | 
                <h:commandLink immediate="true" action="#{zmianaJezyka.angielski()}" value="#{msg.langENG}"/>   
                </h:form></div>
        </div>
        <center>
        <div class="main_text_container">
            <span class="cudowny">Dietetyczny.</span><br/><span class="cudowny_small">najzdrowsze dania w necie.</span>
        </div>
    
        
            
    <div class="main_window_container">
        <div class="main_menu">
            <h:form style="padding:0px; margin:0;">
            <ul>                    
                <li><h:outputLink value="danie_list.xhtml">Dania</h:outputLink> </li>
                <li><h:outputLink value="DanieController">Skomponuj</h:outputLink></li>
                <li><h:outputLink value="KontoController">Konto</h:outputLink></li>
                <li><h:outputLink value="loginController">Zaloguj</h:outputLink></li>
                <li><h:outputLink value="register.xhtml">Rejestracja</h:outputLink></li>
            </ul>  
            </h:form>      
        </div>
    <div class="box_main_include" style="width:75%; min-height:300px;">
        <div id="container_title">#{msg.dania_lista}</div>        
		<h:dataTable class="dania_list" value="#{DanieBean.getDania()}" var="danie"
    			styleClass="dania_list"
    			headerClass="dania_list_header"
    			rowClasses="order-table-odd-row,order-table-even-row"
    		>
 
    		<h:column>
    			<f:facet class="dt th" name="header">
    				Id
    			</f:facet>
    				#{danie.id}
    		</h:column>
 
    		<h:column>
    			<f:facet class="dt th" name="header">
    				#{msg.danie_nazwa}
				</f:facet>
    				<a href="DanieController?danie_id=#{danie.id}">#{danie.name}</a>
    		</h:column>
 
 			<h:column>
    			<f:facet class="dt th" name="header">
    				#{msg.danie_pora}
				</f:facet>
    				#{danie.poraDnia}
    		</h:column>
    		
    		<h:column>
    			<f:facet class="dt th" name="header">
    				#{msg.danie_kalorycznosc}
				</f:facet>
    				#{danie.kalorycznosc}
    		</h:column>
    	</h:dataTable>
        
        <h:outputFormat value="#{msg.daniacount}">
            <f:param value="#{DanieBean.getCountDania()}" />
        </h:outputFormat>
    </div>
    </div>        
        </center>
            </h:body>
</html>