<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <h:head>
        <title>ALLEDROGO</title> 
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="static/base.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/main.css"></link>
    </h:head>
    <h:body>
        <div style="text-align:right; font-size:11; padding-right: 20px;"><b>Niezalogowany!</b> [online: 0] 
            <div><h:form >
                <h:commandLink immediate="true" action="#{zmianaJezyka.polski()}"  value="#{msg.langPL}"/>   | 
                <h:commandLink immediate="true" action="#{zmianaJezyka.angielski()}" value="#{msg.langENG}"/>   
                </h:form></div>
        </div>
        <center>
        <div class="main_text_container">
            <span class="cudowny">Dietetyczny.</span><br/><span class="cudowny_small">najzdrowsze dania w necie.</span>
        </div>
    
        
            
    <div class="main_window_container">
        <div class="main_menu">
            <h:form style="padding:0px; margin:0;">
            <ul>                    
                <li><h:outputLink value="danie_list.xhtml">Dania</h:outputLink> </li>
                <li><h:outputLink value="DanieController">Skomponuj</h:outputLink></li>
                <li><h:outputLink value="KontoController">Konto</h:outputLink></li>
                <li><h:outputLink value="loginController">Zaloguj</h:outputLink></li>
                <li><h:outputLink value="register.xhtml">Rejestracja</h:outputLink></li>
            </ul>  
            </h:form>         
        </div>
    <div class="box_main_include" style="width:75%; min-height:300px;">
        <div id="container_title">#{msg.tab_name}</div>
   
        
        <h:form binding="#{register.registerForm}" id="registerForm">
    <h:panelGrid columns="2" style="margin-left: 100px;">            
        <h:outputText value="${msg.firstname}:" /> 
        <h:panelGroup>
            <h:inputText id="firstname" binding="#{register.firstname}" required="true" label="#{msg.firstname}" requiredMessage="#{msg.enterfirstname}"/>
            <h:message for="firstname" errorClass="errors" />
        </h:panelGroup>
        
        <h:outputText value="${msg.lastname}:" /> 
        <h:panelGroup>
            <h:inputText id="lastname" binding="#{register.lastname}" required="true" label="#{msg.lastname}" requiredMessage="#{msg.enterlastname}"/>
            <h:message for="lastname" errorClass="errors" />
        </h:panelGroup>
        
        <h:outputText value="${msg.email}:" /> 
        <h:panelGroup>
            <h:inputText id="emailx" binding="#{register.email}" required="true" label="#{msg.email}" requiredMessage="#{msg.enteremail}">
                <f:validateLength minimum="5" />
                <h:message for="emailx" errorClass="errors" />
            </h:inputText>
        </h:panelGroup>

        <h:outputText value="${msg.password}:" /> 
        <h:panelGroup>
            <h:inputSecret id="pass" binding="#{register.pass}" required="true" label="#{msg.password}" />
            <h:message for="pass" errorClass="errors" />
        </h:panelGroup>
        
        <h:outputText value="${msg.repeatpassword}:" /> 
        <h:panelGroup>
            <h:inputSecret id="confPass" required="true" label="#{msg.repeatpassword}">
                <f:validator validatorId="myvalidator" />
            </h:inputSecret>
            <h:message for="confPass" errorClass="errors" />
        </h:panelGroup>
    </h:panelGrid>
            <h:commandButton action="#{register.doRegister()}" binding="#{register.registerButton}" value="#{msg.tab_name}" id="registerButton"/>
        </h:form>
    </div>
    </div>        
        </center>
            </h:body>
</html>